.bg-welcome {
    background-image: url('../img/bg-before-login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.has-error input{
    border-color: red !important;
}
.has-error .error-text{
    color: red !important;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.swiper-slide {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 20px;
}

.swiper-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    text-align: start !important;
    padding-left: 20px;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background-color: #FFF !important;
    margin: 0 8px;
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #FFF !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 24px !important;
}

.swiper-button-prev, .swiper-button-next {
    color: #fff !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    transition: .3s;
    background-color: rgba(0, 0, 0, .2);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: rgba(255, 255, 255, .5);
}