.bg-welcome {
    background-image: url('../img/bg-before-login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.has-error input{
    border-color: red !important;
}
.has-error .error-text{
    color: red !important;
}